.about-label-container{
    width: 100%;
}
.about-label-img{  
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("https://trufitpk.netlify.app/images/news-letter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    position: relative;
}
.about-label-content{
    color: white;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-family: "Montserrat", serif;    
}

/* Responsive-about-label  */

@media(max-width:992px){
    .about-label-content{
        font-size: 70px;
    }
}

@media(max-width:600px){
    .about-label-content{
        font-size: 50px;
    }
}

/* about-img-content  */

.about-img-section{
    width: 100%;
    display: flex;
}
.about-img-container{
    display: flex;
    justify-content: center;
    margin: 80px 80px;
    gap: 20px;
}
.about-img-left img{
    border-radius: 24px;
    width: 600px;
    height: 700px;
}
.about-img-para-right{
    margin-top:20px;
    display: flex;
    flex-direction: column;
}
.about-img-para-right h1{
    font-size: 50px;
}
.about-img-para-right p{
    font-size: 18px;
    margin-top: 30px;
    font-family: "Roboto", serif;  
    line-height: 30px;
}
.about-img-para-right p span{
    position: relative;
    top: 20px;
}
.about-right-btn{
    margin-top: 40px;

}
.about-right-btn a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px 50px;
    border-radius: 8px;
    font-family: "Roboto",serif;
    font-size: 18px;
    transition: all ease-in-out 0.3s;
}
.about-right-btn a:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

/* Responsive-about-img-section  */

@media (max-width:1400px) {    
    .about-img-para-right p{
        font-size: 16px;
        width: 640px;
    }
}
@media (max-width:1300px) {    
    .about-img-left img{
        border-radius: 24px;
        width: 500px;
        height: 470px;
        margin-top: 100px;
    }
    .about-img-para-right h1{
        font-size: 40px;
    }
}
@media (max-width:1250px){
    .about-img-left img{
        width: 500px;
        height: 550px;
        margin-top: 100px;
    }
    .about-img-para-right p{
        width: 500px;
    }
}
@media (max-width:1105px){
    .about-img-left img{
        width: 420px;
        height: 620px;
        margin-top: 100px;
    }
    .about-img-para-right p{
        width: 450px;
    }
}
@media (max-width:992px){    
    .about-img-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .about-img-left img{
        width: 650px;
        margin-top: 0px;
    }
    .about-img-para-right{
        margin-top:0px;
        width: 650px;
    }
    .about-img-para-right h1{
        font-size: 40px;
    }
    .about-img-para-right p{
        margin-top: 0px;
        font-family: "Roboto", serif;  
        width: 650px;
    }
    .about-right-btn{
        margin-top: 40px;
    
    }   
}
@media (max-width:768px){    
    .about-img-left img{
        width: 70vw;
        height: 500px;
    }
    .about-img-para-right{
        width: 70vw;
    }
    .about-img-para-right h1{
        font-size: 4vw;
        font-weight: 800;
    }
    .about-img-para-right p{
        margin-top: 0px;
        font-family: "Roboto", serif;  
        width: 70vw;
    }   
}
@media (max-width:500px){    
    .about-img-left img{
        width: 80vw;
        height: 350px;
    }
    .about-img-para-right h1{
        font-size: 4vw;
    }
    .about-img-para-right p{
        margin-top: 0px;  
        width: 70vw;
    }       
    .about-img-container{
        display: flex;
        justify-content: center;
        /* margin: 80px 80px; */
        margin: 80px 0px;
        gap: 20px;
    }
}
@media (max-width:400px){    
    .about-img-left img{
        width: 70vw;
        height: 350px;
    }
    .about-img-para-right{
        width: 70vw;
    }
    .about-img-para-right h1{
        font-size: 5vw;
        font-weight: 800;
    }
    .about-img-para-right p{
        margin-top: 0px;
        font-family: "Roboto", serif;  
        width: 70vw;
    }   
    .about-right-btn a{
        padding: 20px 20px;
        border-radius: 8px;
        font-size: 16px;
     }
    
}

/* about-testimonial-section  */

.carousel-inner{
    margin-top: 0px;
}
.testimonial-heading{
    text-align: center;
}
.testimonial-heading h2{
    font-size: 50px;
    font-family: "Montserrat", serif;
}
.carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 50px;
    /* padding: 0px; */
    display: none;
    padding-top: 50px;
}
.carousel-item.active{
    display: block;
}
.testimonial-content-1{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
}
.testimonial-content-1 img{
    width: 80px;
    height: auto;
    border-radius: 50%;
    border: 3px solid black;
    position: relative;
    left: 50px;
    margin-bottom: 70px;

}
.testimonial-content-1 label{
    display: flex;
    display: block;
    margin-top: 60px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    right: 30px;
}
.testimonial-content-1 p{
    width: 500px;
    font-size: 18px;
    font-family: "Roboto", serif;   
}