*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.checkout-label-container{
    width: 100%;
}
.checkout-label-img{  
    background: linear-gradient(rgba(0, 0, 0, 0.2), #222222),  url("../images/checkout-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: contact;
    height: 300px;
    object-fit: cover;
    position: relative;
}
.checkout-label-content{
    color: white;
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
    font-family: "Montserrat", serif;    
}

/* Responsive-checkout-label  */

@media(max-width:992px){
    .checkout-label-content{
        font-size: 70px;
    }
}
@media(max-width:600px){
    .checkout-label-content{
        font-size: 50px;
    }
}

/* checkout-main-content  */

.checkout-content-section{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
.checkout-content-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.main-row{
    display: flex;
    justify-content: center;
    gap: 50px;
    /* border: 1px solid black; */
    width: 100%;
}
.checkout-content-container textarea{
    display: flex;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: 1px solid black;
    height: 80px;
    padding-left: 5px;
    font-size: 14px;
}
.checkout-content-container select{
    background-color: transparent;
    border: 1px solid black;
    padding: 4px;
    font-size: 14px;
}
.checkout-content-container input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.checkout-content-container label{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 14px;
}
.checkout-content-container label span{
    color :red;
}
.checkout-btn{
    padding-top: 30px;
}
.checkout-btn input{
    border-bottom: none;
    /* border: 1px solid black; */
    height: 30px;
    font-weight: 500;
    background-color: rgba(255, 196, 133, 0.9) ;
    transition: all ease ease-in-out 0.3s;
}
.checkout-btn input:hover{
    background-color: transparent;
    border: 1px solid black;
}
.errors{
    color: red;
    font-size: 10px;
    padding-top: 5px;
}


.checkout-right-container{
    border: 1px solid black;
    padding: 30px 20px;
    width: 430px;
    height: 600px;
}

.checkout-right-container h3{
    font-size: 24px;
    border-bottom: 1px solid black;
    padding-bottom:12px ;
} 
.checkout-right-container ul li{
    list-style: none;
}
.checkout-right-container li{
    list-style: none;
}
.checkout-right-ul{
    display: flex;
    flex-direction: column;
}
.right-section-dark{
    font-weight: 600;
}
.checkout-right-ul label{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.checkout-right-ul li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 10px;
}
.checkout-right-payment-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.checkout-right-payment-img img{
    width: 40px;
}
.checkout-right-payment-img label{
    font-weight: 600;
} 
.checkout-right-payment-label {
    display: flex;
    flex-direction: column;
}
.checkout-right-payment-label input{
    display: flex;
    width: 20px;
    position:relative;
    top: 38px;
}
.checkout-right-payment-label label{
    display: flex;
    position: relative;
    left: 30px;
    padding-bottom:-100px;
}



